*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Write CSS code below */
body{
    background-color: #f6f0e7;
    
}

.main-content{
  min-height: 1000px;
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 300px 700px;
    grid-template-rows: 20% 80%;
}

.profile-image{
    display: block;
    margin: auto;
     border: 1px solid black;
     border-radius: 30%;
     width: 60%;
}

.name{
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.02px;
    padding: 0.8rem;
}

.designation{
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
}

.description{
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem;
}

.left-sectio{
    grid-column: span 1;
}   


.left-content{
    background-color: #577b83;
    padding: 1rem;
}

.right-section{
    grid-column: span 1 / span 2;
    
}

.right-main-content{
background-color: #ffffff;
}

.icon{
    display: flex;
    margin: 5px;
    padding: 5px;
    justify-content: space-between;
}

.skills{
    font-size: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 0.5rem;
}
.skill-name{
    font-size: 1.2rem;
    font-weight: 0.65rem;
    text-align: left;
    padding-bottom: 0.5rem;
}

.progress-bar{
    border: 1px white solid;
    height: 4px;
}

.right-main-content{
    padding: 2rem 3rem;
}

.right-title{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
    letter-spacing: 1px;

}

.education-content{
    padding-top: 6px;
    padding-bottom: 6px;
}

.para2{
    width: 70%;
}

.jaga{
    display: flex;
    justify-content: end;
}
.chandan{
    padding-top: 6px;
}

.chandan1{
    display: flex;
    justify-content: end;
}

.chandan3{
    padding-top: 6px;
    padding-bottom: 6px;
}



@media(max-width:673px){
    .main-content{
        grid-template-columns: repeat(1, 1fr);
    }
}
